.additional {
  background-color: #ffffff;
}

.additional__title {
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size-xl;
  line-height: 1em;
}

.additional__item-title {
  font-family: @alternate-font;
  color: @gray-dark;
  font-size: @font-size;
  line-height: 1em;
  text-transform: uppercase;
}

.additional__data-size {
  line-height: 1em;
}

.additional__data-price {
  line-height: 1em;
  font-weight: 400;
}

.additional__order {
  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size;
  line-height: 1.25em;
}

.additional__bonus {
  width: 320px;
  min-height: 290px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional__bonus-text {
  color: #ffffff;
  font-size: @font-size;
  line-height: 1.25em;
}
