.additional {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 35px;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
    padding-top: 65px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1300px;
    padding: 0 40px;
    padding-bottom: 83px;
  }
}

.additional__title {
  position: relative;

  margin: 0;
  margin-bottom: 25px;

  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size-xl;
  font-weight: 400;
  line-height: 1em;

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    right: -20px;

    width: 53px;
    height: 3px;

    background-color: @color-main;
  }

  @media (min-width: @tablet-width) {
    padding-left: 37px;

    font-size: @font-size-xxl;
    line-height: 1em;

    &::after {
      right: -30px;
      top: 22px;

      width: 327px;
    }

    &::before {
      content: "";

      position: absolute;
      top: 22px;
      left: -30px;

      width: 28px;
      height: 3px;

      background-color: @color-main;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 81px;
    padding-left: 0;

    &::after {
      right: -110px;

      width: 957px;
    }

    &::before {
      left: -110px;

      width: 69px;
    }
  }
}

.additional__list {
  .no-list;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 9px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-top: 72px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
  }
}

.additional__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-top: 1px solid @gray-very-lights;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1px;
    padding: 0 38px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 27px;

    border: 1px solid @gray-very-lights;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 13px;

    border-left: none;
    border-right: none;
  }
}

.additional__item-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-family: @alternate-font;
  color: @gray-dark;
  font-size: @font-size;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: @font-size-md;
    line-height: 1em;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    margin-top: 10px;
  }
}

.additional__item-data {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 4px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.additional__data-size {
  line-height: 1em;

  @media (min-width: @tablet-width) {
    font-size: @font-size;
    line-height: 1.25em;
  }

  @media (min-width: @desktop-width) {
    margin-right: 10px;
  }
}

.additional__data-price {
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 52px;

    font-size: @font-size;
    line-height: 1.25em;
  }
}

.additional__order {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size;
  line-height: 1.25em;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.additional__bonus {
  width: 280px;
  height: 289px;
  padding-top: 188px;
  padding-left: 54px;

  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 198px;
    margin-top: 31px;
    padding: 0;

    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 288px;
    margin: 0;

    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }
}

.additional__bonus-text {
  width: 170px;
  margin: 0;

  color: #ffffff;
  font-size: @font-size;
  line-height: 1.25em;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-left: 424px;
    padding-top: 71px;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 37px;
    padding-top: 187px;

    text-align: center;
  }
}
