.advantages {
  padding: 0 20px;
  padding-top: 18px;
  padding-bottom: 20px;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    padding-top: 12px;
    padding-bottom: 2px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    padding-top: 41px;
    padding-bottom: 105px;
  }
}

.advantages__title {
  margin: 0;

  font-family: @alternate-font;
  font-size: @font-size-xxl;
  font-weight: 400;
  line-height: 1.667em;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;

    font-size: 60px;
    line-height: 1em;
  }
}

.advantages__list {
  .no-list();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 80px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 30px;

    flex-wrap: wrap;
    flex-direction: row;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1220px;
    padding-right: 0;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;

  font-size: @font-size-sm;
  line-height: 1.286em;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -2px;

    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  @media (min-width: @tablet-width) {
    width: 245px;
    margin-bottom: 50px;
    padding-top: 145px;
    padding-bottom: 50px;

    font-size: @font-size;
    line-height: 24px;

    &::before {
      left: 0;
      top: 33px;

      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
