.advantages {
  padding: 0 20px;
  padding-top: 19px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    padding-top: 14px;
    padding-bottom: 2px;

    border-bottom: 1px solid @gray-ights;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
    padding-top: 42px;
    padding-bottom: 0;

    border: none;
  }
}

.advantages__title {
  margin: 0;

  font-family: @alternate-font;
  font-size: @font-size-xxl;
  font-weight: 400;
  line-height: 1.667em;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;

    font-size: @font-size-xxxl;
    line-height: 1em;
  }
}

.advantages__list {
  .no-list();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 80px;
  padding-top: 30px;

  counter-reset: number;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 31px;

    flex-wrap: wrap;
    flex-direction: row;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1220px;
    padding-right: 0;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;

  font-size: @font-size-sm;
  line-height: 1.286em;

  &::before {
    content: "";

    position: absolute;
    left: -80px;
    top: -1px;

    width: 60px;
    height: 60px;

    background-color: @color-main;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 245px;
    margin-bottom: 50px;
    padding-top: 145px;
    padding-bottom: 50px;

    font-size: @font-size;
    line-height: 1.5em;

    &::before {
      left: 0;
      top: 33px;

      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: number;
      content: counter(number) "";

      position: absolute;
      top: -5px;
      left: 116px;
      z-index: -1;

      font-family: @alternate-font;
      color: @gray-lighten;
      font-size: 281px;
      line-height: 1em;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-bottom: 0;
    padding-bottom: 47px;
  }
}

.advantages__item--benefit::before {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
  }

  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__item--fast::before {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");

  }

  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__item--nutrition::before {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }

  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__item--time::before {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }

  background-image: url("../img/advantage-clock@1x.png");
}
