.card__title-link {
  text-decoration: none;
}

.card__title {
  width: 80px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card__options-title,
.card__options-value {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}
