.catalog {
  background-color: #ffffff;
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__more-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__more-text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog__more-show {
  color: #444444;
  background-color: #f2f2f2;
}
