.catalog {
  background-color: #ffffff;
}

.catalog__title {
  font-family: @alternate-font;
  font-size: @fs-h1;
  line-height: 1.667em;
}

.catalog__list {
  .no-list();
}

.catalog__more-link {
  font-family: @alternate-font;
  font-size: @fs;
  line-height: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__more-text {
  font-family: @main-font;
  font-size: @fs-sm-text;
  line-height: 1.33em;
}

.catalog__more-show {
  font-family: @alternate-font;
  background-color: @concrete;
}
