.catalog {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.catalog__title {
  margin: 0;

  font-family: @alternate-font;
  font-size: @font-size-xxl;
  line-height: 1.667em;
}

.catalog__list {
  .no-list();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 130px;
  }
}

.catalog__more {
  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.catalog__more-link {
  font-family: @alternate-font;
  font-size: @font-size;
  line-height: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__more-text {
  font-size: @font-size-xs;
  line-height: 1.33em;
}

.catalog__more-show {
  font-family: @alternate-font;
  color: @gray-darker;

  background-color: @gray-lighten;
}
