.categories__list {
  .no-list();
}

.categories__item {
  background-color: @gray-lighten;
}

.categories__item-title {
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size-x1;
  line-height: 1.54em;
  text-transform: uppercase;

  background-color: @gray-lighten;
}

.categories__item-content {
  font-size: @font-size-sm;
  line-height: 1.28em;

  background-color: @gray-lighten;
}

.categories__item-button {
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @gray-lighten;
}
