.categories {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    padding-top: 78px;
    padding-bottom: 0;
  }
}

.categories__list {
  .no-list();
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.categories__item {
  position: relative;

  margin-top: 22px;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 17px;

  background-color: @gray-lighten;

  &::before {
    content: "";

    position: absolute;
    top: 26px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 60px;
    padding-top: 76px;

    &::before {
      top: 90px;
      left: 447px;

      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;

    &::before {
      top: 45px;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }
}

.categories__item-title {
  margin-left: 71px;
  margin-top: 0;
  margin-bottom: 31px;

  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size-xl;
  font-weight: 400;
  line-height: 1.54em;
  text-transform: uppercase;

  background-color: @gray-lighten;

  @media (min-width: @tablet-width) {
    margin-left: 33px;
    margin-bottom: 25px;

    font-size: @font-size-xxl;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 194px;
    margin-bottom: 73px;
  }
}

.categories__item-content {
  margin-top: 0;
  padding-bottom: 21px;

  font-size: @font-size-sm;
  line-height: 1.286em;
  font-weight: 400;

  background-color: @gray-lighten;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 372px;
    margin-left: 33px;
    margin-top: 0;
    margin-bottom: 29px;

    font-size: @font-size;
    line-height: 24px;

    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
    margin-bottom: 4px;
  }
}

.categories__item-content--short {
  @media (min-width: @tablet-width) {
    width: 343px;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
  }
}

.categories__item-button {
  display: inline-block;
  margin-top: 5px;


  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @gray-lighten;

  @media (min-width: @tablet-width) {
    margin-left: 33px;

    font-size: @font-size-md;
    line-height: 1em;
  }
}
