.categories__list {
  .no-list();
}

.categories__item {
  background-color: @concrete;
}

.categories__item-title {
  font-family: @alternate-font;
  color: @cod-gray;
  font-size: @fs-h2;
  line-height: 1.54em;
  text-transform: uppercase;

  background-color: @concrete;
}

.categories__item-content {
  font-family: @main-font;
  font-size: @fs-text;
  line-height: 1.28em;

  background-color: @concrete;
}

.categories__item-button {
  font-family: @alternate-font;
  color: @cod-gray;
  font-size: @fs;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @concrete;
}
