.contact__note {
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size;
  line-height: 1.25em;
  text-transform: uppercase;
}

.contact__address {
  line-height: 1.43em;
  font-style: normal;
}
