.contact {
  width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1300px;
    padding-bottom: 0;
  }
}

.contact--grey {
  background-color: @gray-lighten;
}

.contact__field {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
  padding-top: 29px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 72px;
    padding-top: 0;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 40px;

    width: 570px;
    padding: 0;
    padding-bottom: 58px;

    background-color: #ffffff;
  }
}

.contact__note {
  width: 125px;
  margin: 0;

  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size;
  line-height: 1.25em;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 180px;
    margin: 0;
    margin-top: 66px;

    font-size: @font-size-md;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 165px;
    margin-left: 76px;
  }
}

.contact__map iframe {
  width: 320px;
  height: 362px;

  @media (min-width: @tablet-width) {
    width: 767px;
    height: 396px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    height: 399px;
  }
}

.contact__address-wrapper {
  @media (min-width: @tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 84px;
  }
}

.contact__address {
  width: 140px;

  line-height: 1.43em;
  font-style: normal;

  @media (min-width: @tablet-width) {
    width: 165px;
    margin-top: 0;
    margin-bottom: 20px;

    font-size: @font-size;
    line-height: 1.25em;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 160px;

    text-align: left;
  }
}

.contact__address-city {
  display: block;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    margin-top: 10px;

    font-size: @font-size;
    line-height: 1.25em;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}
