.main-nav {
  outline: 1px dashed darkblue;
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-nav__list {
  .no-list();
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  outline: 1px dashed yellow;
  min-height: 66px;
}

.main-nav__link {
  font-family: @alternate-font;
  font-size: @font-size-md;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
}
