.promo {
  padding-top: 50px;
  padding-bottom: 47px;

  background: linear-gradient(to bottom, @color-main 305px, #ffffff 305px);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 306px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    padding-top: 200px;
    padding-bottom: 257px;

    background: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: -140px;
    padding-top: 195px;

    background: linear-gradient(to left, #ffffff 720px, @color-main 720px);
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 720px 0;
  }
}

.promo__title {
  margin: 0;

  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size-xxl;
  line-height: 1em;
}

.promo__content {
  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size-sm;
  line-height: 1em;
}

.promo__btn {
  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size-sm;
  line-height: 1.28em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @color-main;
}
