.promo {
  width: 320px;

  background-color: #65a83c;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 306px;
}

.promo__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.promo__content {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.promo__btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #65a83c;
}
