.social {
  .no-list();
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 75px;
  padding-right: 75px;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-left: 110px;
    padding-right: 90px;
  }
}

.social__item {
  width: 19px;
  height: 19px;

  background-color: #000000;
}
