//Размер шрифта;

@fs: 16px;
@fs-text: 14px;
@fs-sm-text: 12px;
@fs-h1: 36px;
@fs-h2: 24px;
@fs-nav: 20px;

//Написание шрифта;

@main-font: "Arial", sans-serif;
@alternate-font: "Oswald", sans-serif;

//Цвет фоновый;

@apple: #68b738;
@concrete: #F2F2F2;

//Цвет шрифта;

@cod-gray: #111111;
@tundora: #444444;
