//Размер шрифта;

@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size: 16px;
@font-size-m: 18px;
@font-size-md: 20px;
@font-size-xl: 24px;
@font-size-xll: 30px;
@font-size-xxl: 36px;
@font-size-xxxl: 60px;

//Написание шрифта;

@main-font: "Arial", sans-serif;
@alternate-font: "Oswald", sans-serif;

//Цвет фоновый;
@color-border-grey: #d9d9d9;
@color-main: #68b738;
@color-background: #63a73a;
@gray-lighten: #f2f2f2;
@color-background-hover: #5eaa2f;
@color-background-focus: #99c684;
@color-text-focus: #c3c3c3;

//Цвет шрифта;
@gray: #d3d3d3;
@gray-ultra-lights: #ededed;
@gray-very-lights: #cdcdcd;
@gray-ights: #e6e6e6;
@gray-darkest: #111111;
@gray-dark: #222222;
@gray-darker: #444444;
@gray-ultra-dark: #666666;

//Размеры для устройств;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
